@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margina: 0;
  podstava: 0;
  obris: nijedan;
  veličina kutije: border-box;
  font-familija: 'Poppins', sans-serif;
}
tijelo{
  visina: 100vh;
  širina: 100%;
  pozadina: linearni gradijent(115 deg, #56d8e4 10%, #9f01ea 90%);
}
.show-btn{
  pozadina: #fff;
  podstava: 10px 20px;
  veličina fonta: 20px;
  težina fonta: 500;
  boja: #3498db;
  kursor: pokazivač;
  kutija-sjena: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .kontejner{
  položaj: apsolutno;
  top: 50%;
  lijevo: 50%;
  transformirati: prevedi(-50%, -50%);
}
ulaz[tip="checkbox"]{
  prikaz: nijedan;
}
.kontejner{
  prikaz: nijedan;
  pozadina: #fff;
  širina: 410px;
  podstava: 30px;
  kutija-sjena: 0 0 8px rgba(0,0,0,0.1);
}
#show:provjereno ~ .kontejner{
  prikaz: blok;
}
.kontejner .zatvori-btn{
  položaj: apsolutno;
  desno: 20px;
  top: 15px;
  veličina fonta: 18px;
  kursor: pokazivač;
}
.kontejner .zatvori-btn:hover{
  boja: #3498db;
}
.kontejner .tekst{
  veličina fonta: 35px;
  težina fonta: 600;
  poravnanje teksta: centar;
}
.kontejner oblik{
  margin-top: -20px;
}
.kontejner oblik .podaci{
  visina: 45px;
  širina: 100%;
  margina: 40px 0;
}
oblik .podaci oznaka{
  veličina fonta: 18px;
}
oblik .podaci ulaz{
  visina: 100%;
  širina: 100%;
  padding-lijevo: 10px;
  veličina fonta: 17px;
  granica: 1px čvrsto srebro;
}
oblik .podaci ulaz:fokus{
  boja obruba: #3498db;
  širina granice-dna: 2px;
}
oblik .zaboravio-prošao{
  margin-top: -8px;
}
oblik .zaboravio-prošao a{
  boja: #3498db;
  tekstualna dekoracija: nijedan;
}
oblik .zaboravio-prošao a:hover{
  tekstualna dekoracija: podcrtati;
}
oblik .btn{
  margina: 30px 0;
  visina: 45px;
  širina: 100%;
  položaj: relativno;
  prelijevanje: skriveno;
}
oblik .btn .inner{
  visina: 100%;
  širina: 300%;
  položaj: apsolutno;
  lijevo: -100%;
  z-index: -1;
  pozadina: -webkit-linear-gradient(točno, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  tranzicija: svi 0.4s;
}
oblik .btn:hover .inner{
  lijevo: 0;
}
oblik .btn gumb{
  visina: 100%;
  širina: 100%;
  pozadina: nijedan;
  granica: nijedan;
  boja: #fff;
  veličina fonta: 18px;
  težina fonta: 500;
  transformacija teksta: velika slova;
  razmak između slova: 1px;
  kursor: pokazivač;
}
oblik .signup-link{
  poravnanje teksta: centar;
}
oblik .signup-link a{
  boja: #3498db;
  tekstualna dekoracija: nijedan;
}
oblik .signup-link a:hover{
  tekstualna dekoracija: podcrtati;
}
