@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margina: 0;
    podstava: 0;
    veličina kutije: border-box;
    font-familija: "Montserrat", sans-serif;
}
tijelo {
    širina: 100%;
    min-visina: 100vh;
    podstava: 0 10px;
    prikaz: flex;
    pozadina: #626cd6;
    opravdanje-sadržaj: centar;
    poravnajte stavke: centar;
}

.prijava_obrazac {
    širina: 100%;
    maksimalna širina: 435px;
    pozadina: #fff;
    granični radijus: 6px;
    podstava: 41px 30px;
    kutija-sjena: 0 10px 20px rgba(0, 0, 0, 0,15);
}
.prijava_obrazac h3 {
    veličina fonta: 20px;
    poravnanje teksta: centar;
}

.prijava_obrazac .login_opcija {
    prikaz: flex;
    širina: 100%;
    opravdanje-sadržaj: razmak između;
    poravnajte stavke: centar;
}
.prijava_obrazac .login_opcija .opcija {
    širina: calc(100% / 2 - 12px);
}
.prijava_obrazac .login_opcija .opcija a {
    visina: 56px;
    prikaz: flex;
    opravdanje-sadržaj: centar;
    poravnajte stavke: centar;
    gap: 12px;
    pozadina: #F8F8FB;
    granica: 1px čvrsta #DADAF2;
    granični radijus: 5px;
    margina: 34px 0 24px 0;
    tekstualna dekoracija: nijedan;
    boja: #171645;
    težina fonta: 500;
    tranzicija: 0.2lakoća;
}
.prijava_obrazac .login_opcija .opcija a:hover {
    pozadina: #ededf5;
    boja obruba: #626cd6;
}
.prijava_obrazac .login_opcija .opcija a img {
    maksimalna širina: 25px;
}
.prijava_obrazac p {
    poravnanje teksta: centar;
    težina fonta: 500;
}
.prijava_obrazac .separator {
    položaj: relativno;
    margina-dno: 24px;
}

.prijava_obrazac .separator raspon {
    pozadina: #fff;
    z-index: 1;
    podstava: 0 10px;
    položaj: relativno;
}
.prijava_obrazac .separator::poslije {
    sadržaj: '';
    položaj: apsolutno;
    širina: 100%;
    top: 50%;
    lijevo: 0;
    visina: 1px;
    pozadina: #C2C2C2;
    prikaz: blok;
}
oblik .input_box oznaka {
    prikaz: blok;
    težina fonta: 500;
    margina-dno: 8px;
}
oblik .input_box ulaz {
    širina: 100%;
    visina: 57px;
    granica: 1px čvrsta #DADAF2;
    granični radijus: 5px;
    obris: nijedan;
    pozadina: #F8F8FB;
    veličina fonta: 17px;
    podstava: 0px 20px;
    margina-dno: 25px;
    tranzicija: 0.2lakoća;
}
oblik .input_box ulaz:fokus {
    boja obruba: #626cd6;
}
oblik .input_box .password_title {
    prikaz: flex;
    opravdanje-sadržaj: razmak između;
    poravnanje teksta: centar;
}
oblik .input_box {
    položaj: relativno;
}
a {
    tekstualna dekoracija: nijedan;
    boja: #626cd6;
    težina fonta: 500;
}
a:hover {
    tekstualna dekoracija: podcrtati;
}
/* Stiliziranje gumba za prijavu */
oblik gumb {
    širina: 100%;
    visina: 56px;
    granični radijus: 5px;
    granica: nijedan;
    obris: nijedan;
    pozadina: #626CD6;
    boja: #fff;
    veličina fonta: 18px;
    težina fonta: 500;
    transformacija teksta: velika slova;
    kursor: pokazivač;
    margina-dno: 28px;
    tranzicija: 0.3lakoća;
}
oblik gumb:hover {
    pozadina: #4954d0;
}
