@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  marža: 0;
  podstava: 0;
  nacrt: nema;
  veličina kutije: border-box;
  font-family: 'Poppins', sans-serif;
}
tijelo{
  visina: 100vh;
  širina: 100%;
  pozadina: linearni gradijent (115 stupnjeva, #56d8e4 10%, #9f01ea 90%);
}
.show-btn{
  pozadina: #fff;
  padding: 10px 20px;
  veličina fonta: 20px;
  težina fonta: 500;
  boja: #3498db;
  pokazivač: pokazivač;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.show-btn, .kontejner{
  položaj: apsolutni;
  vrh: 50%;
  lijevo: 50%;
  transformiraj: prevedi(-50%, -50%);
}

input[type="checkbox"]{
  prikaz: nema;
}
.kontejner{
  prikaz: nema;
  pozadina: #fff;
  širina: 410px;
  podstava: 30px;
  sjenilo: 0 0 8px rgba(0,0,0,0.1);
}
#show:provjereno ~ .kontejner{
  prikaz: blok;
}
.kontejner .close-btn{
  položaj: apsolutni;
  desno: 20px;
  top: 15px;
  veličina fonta: 18px;
  pokazivač: pokazivač;
}
.kontejner .close-btn:hover{
  boja: #3498db;
}
.kontejner .tekst{
  font-veličina: 35px;
  težina fonta: 600;
  poravnanje teksta: centar;
}
.kontejnerski obrazac{
  margin-top: -20px;
}
.kontejnerski obrazac .data{
  visina: 45px;
  širina: 100%;
  marža: 40px 0;
}
obrazac .oznaka podataka{
  veličina fonta: 18px;
}
obrazac .unos podataka{
  visina: 100%;
  širina: 100%;
  padding-left: 10px;
  veličina fonta: 17px;
  granica: 1 px čvrsto srebro;
}
obrazac .unos podataka:focus{
  boja obruba: #3498db;
  širina ruba-dna: 2px;
}
obrazac .forgot-pass{
  margin-top: -8px;
}
obrazac .forgot-pass a{
  boja: #3498db;
  tekstualna dekoracija: nema;
}
obrazac .forgot-pass a:hover{
  tekstualna dekoracija: podcrtano;
}
obrazac.btn{
  marža: 30px 0;
  visina: 45px;
  širina: 100%;
  položaj: relativni;
  preljev: skriven;
}
obrazac .btn.inner{
  visina: 100%;
  širina: 300%;
  položaj: apsolutni;
  lijevo: -100%;
  z-index: -1;
  pozadina: -webkit-linear-gradient(desno, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  prijelaz: sve 0,4s;
}
obrazac .btn:hover.inner{
  lijevo: 0;
}
obrazac .btn gumb{
  visina: 100%;
  širina: 100%;
  pozadina: nema;
  granica: nema;
  boja: #fff;
  veličina fonta: 18px;
  težina fonta: 500;
  transformacija teksta: velika slova;
  razmak između slova: 1px;
  pokazivač: pokazivač;
}
obrazac .signup-link{
  poravnanje teksta: centar;
}
obrazac .signup-link a{
  boja: #3498db;
  tekstualna dekoracija: nema;
}
obrazac .signup-link a:hover{
  tekstualna dekoracija: podcrtano;
}
